<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Panshul Jindal. It uses data from weather stack and mapbox</p>
            <img class="portrait"src="/img/panshul.jpg">
        </div>
        {{>footer}}
    </body>
</html>